name: Build

on: push

jobs:
    build:
        runs-on: ubuntu-24.04
        steps:
            - uses: actions/checkout@v4

            - uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKER_USERNAME }}
                  password: ${{ secrets.DOCKER_PASSWORD }}

            - uses: docker/setup-qemu-action@v3

            - uses: docker/setup-buildx-action@v3
              with:
                  platforms: linux/arm64,linux/amd64

            - uses: docker/build-push-action@v6
              with:
                  push: true
                  platforms: linux/amd64,linux/arm64
                  tags: nigeleke/docker-dioxus-cli:latest,nigeleke/docker-dioxus-cli:v0.7.2
